@using Tamirci.Models
@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Tamirciler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Tüm Tamirciler</h2>
    </div>
</div>-->
<!-- End Breadcrumbs -->
<!-- ======= Events Section ======= -->
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .accordion {
        background-color: #e1e9ed;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #c6e5f5;
        }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>
<main id="main">
    <section>
        <div class="container">
            <div class="row">

                <div class="col-md-9" data-aos="fade-up">
                    <h3 class="category-title">Araba Tamircileri</h3>
                    @if (Model.Count != 0)
                    {
                        foreach (var x in Model)
                        {
                            <div class="d-md-flex post-entry-2 half">
                                <a href="single-post.html" class="me-4 thumbnail">
                                    <img src="@x.Tamirci_Fotoğraf" style="width:100%; height:220px;" alt="@x.TamirciAdı" class="img-fluid">
                                </a>
                                <div>
                                    <div class="post-meta"><span class="date"><span>@x.Tamirci_İl</span></div>
                                    <h3><a href="~/Tamirciler/TamirciDetail/@x.ID">@x.TamirciAdı</a></h3>
                                    <p style="word-break: break-word; display: inline-block; justify-content:center; ">@x.Tamirci_Tanım</p>
                                    <div class="d-flex align-items-center author">
                                        Puan/Tıklanma:
                                        <div class="name">
                                            <h3 class="m-0 p-0">@x.Tamirci_Puan/@x.Click</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*<div class="text-start py-4">
                                <div class="custom-pagination">
                                    <a href="#" class="prev">Prevous</a>
                                    <a href="#" class="active">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#" class="next">Next</a>
                                </div>
                            </div>*@
                        @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Oto", new { sayfa }))

                    }
                    else
                    {
                        <div class="d-md-flex post-entry-2 half">
                            <p><b>Gösterilecek kayıt bulunamadı.</b></p>
                        </div>

                    }

                </div>

                <div class="col-md-3">
                    <!-- ======= Sidebar ======= -->
                    <div class="aside-block">
                        <div class="single-blog-page">
                            <!-- search option start -->
                            <form action="/Search/Ara" class="search-form">

                                @using (Html.BeginForm("Ara", "Search", FormMethod.Get))
                                {
                                    @Html.TextBox("k", null, new { @class = "form-control", @placeholder = "Tamirci Adı İle Arayın" })


                                }
                            </form>
                            <!-- search option end -->
                        </div>
                    </div><!-- End Categories -->

                    <div class="aside-block">
                        <form id="contact" action="/Tamirciler/Filtre" method="post">
                            <label for="Name">Kategoriye Göre</label> <br />
                            @Html.CheckBox("Check1", new { @class = "form-check-input" })<span> Oto Tamircisi&nbsp;<i class="bi bi-car-front"></i></span>
                            <br />
                            @Html.CheckBox("Check2", new { @class = "form-check-input" })<span> Motor Tamircisi &nbsp;<i class="bi bi-bicycle"></i></span>
                            <br />
                            <br />
                            <label for="Name">Tıklanmaya Göre</label>
                            <br />
                            @Html.CheckBox("Check3", new { @class = "form-check-input" })<span> Çoktan Az Tıklanana <i class="bi bi-arrow-down-circle"></i></span>
                            <br />
                            @Html.CheckBox("Check4", new { @class = "form-check-input" })<span> Azdan Çok Tıklanana <i class="bi bi-arrow-up-circle"></i></span>
                            <br />
                            <br />
                            <label for="Name">Yoruma Göre</label>
                            <br />
                            @Html.CheckBox("Check5", new { @class = "form-check-input" })<span>Çoktan Az Yorum Alana <i class="bi bi-arrow-down-circle"></i></span>
                            <br />
                            @Html.CheckBox("Check6", new { @class = "form-check-input" })<span> Azdan Çok Yorum Alana <i class="bi bi-arrow-up-circle"></i></span>
                            <br />
                            <br />
                            <label for="Name">Puana Göre</label>
                            <br />
                            @Html.CheckBox("Check7", new { @class = "form-check-input" })<span> Çoktan Az Puana <i class="bi bi-arrow-down-circle"></i></span>
                            <br />
                            @Html.CheckBox("Check8", new { @class = "form-check-input" })<span>Azdan Çok Puana <i class="bi bi-arrow-up-circle"></i></span>
                            <br />
                            <br />
                            <label for="Name">Konuma Göre</label>
                            @Html.Action("İlİlçe", "Tamirciler")
                            <button class="btn btn-primary" name="submit" type="submit" id="submit">Filtrele</button>

                        </form>
                        <br />
                    </div>

                    <div class="aside-block">
                        <h3 class="aside-title">Kategori</h3>
                        <ul class="aside-tags list-unstyled">
                            <li><a href="~/Tamirciler/Oto">Araba Tamiri</a></li>
                            <li><a href="~/Tamirciler/Motor">Motor Tamiri</a></li>
                        </ul>
                    </div><!-- End Tags -->
                    <div class="aside-block">
                        <h3 class="aside-title">Son Eklenen Tamirciler</h3>
                        <ul class="aside-tags list-unstyled">
                            @Html.Action("SonEklenenTamirci", "Tamirciler")
                        </ul>
                    </div><!-- End Tags -->
                    <div class="aside-block">
                        <h3 class="aside-title">Son Eklenen Yorumlar</h3>
                        <ul class="aside-tags list-unstyled">
                            @Html.Action("SonEklenenYorum", "Tamirciler")
                        </ul>
                    </div><!-- End Tags -->
                    <div class="aside-block">
                        <h3 class="aside-title">Bize Gönderdiğiniz Son Mesajlar</h3>
                        <ul class="aside-tags list-unstyled">
                            @Html.Action("SonMesajlar", "Tamirciler")
                        </ul>
                    </div><!-- End Tags -->
                </div>

            </div>
        </div>
    </section>
</main><!-- End #main -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ilid").select2();
        $("#ilçe").select2();
        $("#ilid").change(function () {
            var id = $(this).val();
            console.log(id);
            var ilçelist = $("#ilçe");
            ilçelist.empty();
            $.ajax({
                url: '/Tamirciler/GetInstitution/',
                type: 'POST',
                dataType: 'json',
                data: { 'id': id },
                success: function (data) {
                    $.each(data, function (index, option) {

                        ilçelist.append('<option value=' + data[index].Value + '>' + data[index].Text + '</option > ');
                    });
                    /* kurumlist.append('<option value=' + data[0].Value + '>' + data[0].Text + '</option > ');*/

                }
            });

        });
    });
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>