@using Tamirci.Models
@model List<Tamirciler>
@{
    ViewBag.Title = "TamirciDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    
    <div class="breadcrumbs2">
        <div class="page-header d-flex align-items-center" style="background-image: url('/Content/Style/İmages/tamirarkaplan.jpeg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Tamirci Detay</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="~/Tamirciler/Index">Tamirciler</a></li>
                    <li>Tamirci Detay</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
              @foreach (var x in Model)
            {
            <div class="position-relative h-100">
                <div class="slides-1 portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="@x.Tamirci_Fotoğraf" style="height:450px; width:100%;" alt="@x.TamirciAdı">
                        </div>
                    </div>
                </div>
             

            </div>
          
                <div class="row justify-content-between gy-4 mt-4">

                    <div class="col-lg-8">
                        <div class="portfolio-description">
                            <h2>@x.TamirciAdı</h2>
                            <p style="justify-content: center; word-wrap: break-word;">
                                @x.Tamirci_Tanım
                            </p>
                            <br />
                            @Html.Action("Puanlama1", "Home")
                            @Html.Action("Puanlama2", "Home")

                        </div>

                    </div>

                    <div class="col-lg-3">
                        <div class="portfolio-info">
                            <h3>Tamirci Bilgileri</h3>
                            <ul>
                                <li><strong>İl</strong> <span>@x.Tamirci_İl</span></li>
                                <li><strong>İlçe</strong> <span>@x.Tamirci_İlçe</span></li>
                                <li><strong>Adres</strong> <span>@x.Tamirci_Adres</span></li>
                                <li><strong>Telefon</strong> <span>@x.Tamirci_Telefon</span></li>
                                <li><strong>E-Mail</strong> <span>@x.TamirciMail</span></li>
                                <li><strong>Puan</strong> <a href="#">@x.Tamirci_Puan</a></li>
                            </ul>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            }
        </div>
      
            <div class="container" data-aos="fade-up">
                <br />
                <br />
                @Html.Action("Section1", "Tamirciler")
                <br />
                <br />
                <br />
                @Html.Action("YorumEkle", "Tamirciler")
            </div>
</section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
