@using Tamirci.Models
@model List<Tamirciler>
@{
    ViewBag.Title = "TamirciDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<main id="main">
    <div class="breadcrumbs2">
        <div class="page-header d-flex align-items-center" style="background-image: url('/Content/Style/İmages/tamirarkaplan.jpeg'); ">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Tamirci Detay</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="~/Tamirciler/Index">Tamirciler</a></li>
                    <li>Tamirci Detay</li>
                </ol>
            </div>
        </nav>
    </div>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
              @foreach (var x in Model)
            {
            <div class="position-relative h-100">
                <div class="slides-1 portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="@x.Tamirci_Fotoğraf" style="height:450px; width:100%;" alt="@x.TamirciAdı">
                        </div>
                    </div>
                </div>
            </div>
                <div class="row justify-content-between gy-4 mt-4">
                    <div class="col-lg-8">
                        <div class="portfolio-description">
                            <h2>@x.TamirciAdı</h2>
                            <p style="justify-content: center; word-wrap: break-word;">
                                @x.Tamirci_Tanım
                            </p>
                            <br />
                            @Html.Action("Puanlama1", "Home")
                            @Html.Action("Puanlama2", "About")
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="portfolio-info">
                            <h3>Tamirci Bilgileri</h3>
                            <ul>
                                <li><strong>İl</strong> <span>@x.Tamirci_İl</span></li>
                                <li><strong>İlçe</strong> <span>@x.Tamirci_İlçe</span></li>
                                <li><strong>Adres</strong> <span>@x.Tamirci_Adres</span></li>
                                <li><strong>Telefon</strong> <span>@x.Tamirci_Telefon</span></li>
                                <li><strong>E-Mail</strong> <span>@x.TamirciMail</span></li>
                                <li><strong>Puan</strong> <a href="#">@x.Tamirci_Puan</a></li>
                            </ul>
                       
                                <iframe src="//maps.google.com/maps?output=embed&amp;q=@x.Tamirci_İl @x.Tamirci_İlçe @x.TamirciAdı&amp;t=m" data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMk1hbmhhdHRhbiUyMiUyQyUyMnpvb20lMjIlM0FudWxsJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlN0Q="  frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            }
        </div>
            <div class="container" data-aos="fade-up">
                <br />
                <br />
                @Html.Action("Section1", "Tamirciler")
                <br />
                <br />
                <br />
                @Html.Action("YorumEkle", "Tamirciler")
            </div>
</section>
</main>
