@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 <div class="content-wrapper">
           <div class="row">
               <div class="col-sm-12">
                   <div class="home-tab">
                       <div class="tab-content tab-content-basic">
                           <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                               <div class="row">
                                   <div class="col-sm-12">
                                       <div class="statistics-details d-flex align-items-center justify-content-between">
                                           @Html.Action("TotalYorum", "Admin")
                                           @Html.Action("TotalMesaj", "Admin")
                                           @Html.Action("TotalBaşvuru", "Admin")
                                           @Html.Action("TotalTamirci", "Admin")
                                           @Html.Action("TotalTıklanma", "Admin")
                                           @Html.Action("TotalAdmin", "Admin")
                                       </div>
                                   </div>
                               </div>
                               @Html.Action("Adminler", "Admin")
                               <div class="row flex-grow">
                                   <div class="col-12 grid-margin stretch-card">
                                       <div class="card card-rounded table-darkBGImg">
                                           <div class="card-body">
                                               <div class="col-sm-8">
                                                   <h3 class="text-white upgrade-info mb-0">
                                                       Son Gelen Bildirimleriniz
                                                   </h3>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="row flex-grow">
                                   @Html.Action("SonBasvuru", "Admin")
                                   @Html.Action("SonMesaj", "Admin")
                                   @Html.Action("SonYorum", "Admin")
                               </div>
                           </div>
                           <div class="row flex-grow">
                               <div class="col-6 grid-margin stretch-card">
                                   <div class="card card-rounded">
                                      @Html.Action("ToDoList","Admin")
                                   </div>
                               </div>
                               <div class="col-6 grid-margin stretch-card">
                                   <div class="card card-rounded">
                                       @Html.Action("ToDo", "Admin")
                                   </div>
                               </div>
                           </div>
            </div>
        </div>
    </div>
</div>
