@model Tamirci.Models.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Yeni Admin Ekle</h3>

            <form class="form-group" method="post">
                <label for="Vision">Admin İsmi</label> <br />
                @Html.TextBoxFor(x => x.Adminİsim, new { @class = "form-control" })
                <br />
                <label for="Mission">Admin Telefon</label> <br />
                @Html.TextBoxFor(x => x.AdmiTelefon, new { @class = "form-control" })
                <br />
                <label for="AboutUs">Admin Mail</label> <br />
                @Html.TextBoxFor(x => x.AdminMail, new { @class = "form-control" })
                <br />
                <label for="Vision">Admin Kullanıcı Adı</label> <br />
                @Html.TextBoxFor(x => x.AdminİsimKullanıcıAd, new { @class = "form-control" })
                <br />
                <label for="Vision">Admin Şifre</label> <br />
                @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", @type = "password" })
                <br />
                <br />
                <button class="btn btn-outline-primary"><i class="mdi mdi-content-save"></i>&nbsp;&nbsp;Ekle</button>
            </form>
        </div>
    </div>
</div>