@using Tamirci.Models
@model List<Tamirciler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
        <h2 style="text-align:center; color:gray; ">En Yüksek Puanlı Tamirciler</h2>
        <div class="container-md" data-aos="fade-in">
            <div class="row">
                <div class="col-12">
                    <div class="swiper sliderFeaturedPosts">
                        <div class="swiper-wrapper">
                            @foreach (var x in Model)
                            {
                                <div class="swiper-slide">
                                    <img src="~/Content/Style/İmages/tamir.jpg" style="width:100%;" class="img-lg d-flex align-items-end">
                                    <div class="img-bg-inner">
                                        <h2>@x.TamirciAdı</h2>
                                        <p>@x.Tamirci_Tanım.Substring(0, 50)</p>
                                    </div>

                                </div>
                            }
                        </div>
                        <div class="custom-swiper-button-next">
                            <span class="bi-chevron-right"></span>
                        </div>
                        <div class="custom-swiper-button-prev">
                            <span class="bi-chevron-left"></span>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Slider Section -->
    <!-- ======= Post Grid Section ======= -->
    @Html.Action("Section1", "Home")
    @Html.Action("Section2", "Home")
    @Html.Action("Section5", "Home")
    @Html.Action("Section4", "Home")

    @Html.Action("Section6", "Home")
    @*@Html.Action("Section7", "Home")*@
